# .coveragerc to control coverage.py
[run]
branch = True
omit =
    */_test/*.py

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    except ImportError:
    except ModuleNotFoundError:
    @(abc\.)?abstractmethod
    raise NotImplementedError
    if __name__ == "__main__":
