# .coveragerc to control coverage.py
[run]
omit =
    */_test/*.py

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    except ImportError:
    except ModuleNotFoundError:
    @(abc\.)?abstractmethod
    @njit
    @jitclass
    _SPEC
    def __repr__
    raise NotImplementedError
    if __name__ == "__main__":
    if TYPE_CHECKING:
