[tool.poetry]
name = "ultrack"
version = "0.3.0"
description = ""
authors = ["Jordao Bragantini <jordao.bragantini@czbiohub.org>"]
include = ["ultrack/napari.yaml"]

[tool.poetry.dependencies]
python = ">=3.9,<3.12"
click = "^8.1.3"
rich = "^13.3.5"
magicgui = "^0.7.2"
toml = "^0.10.2"
pydantic = "^1.10.7,<2.0.0"
higra = "^0.6.6"
zarr = "^2.14.2"
napari = "^0.4.17"
pillow = "^9.5.0"  # tox wans't working for 9.2.0
numba = "^0.57.0"
SQLAlchemy = "^1.4.40"
seaborn = "^0.12.2"
imagecodecs = "^2023.3.16"
scikit-image = "^0.21.0"
blosc2 = "^2.2.0"
imageio = "^2.28.0"
psycopg2-binary = "^2.9.6"
cloudpickle = "^2.2.1"
psygnal = "^0.9.0"
pandas = "^2.0.1"
mip = "^1.15.0"
torch = "^2.0.1"
sphinx-click = {extras = ["docs"], version = "^5.0.1"}
sphinx-rtd-theme = {extras = ["docs"], version = "^1.3.0"}

[tool.poetry.dev-dependencies]
pytest = "^7.3.1"
pre-commit = "^3.2.2"
pytest-qt = "^4.2.0"
asv = "^0.5.1"
"testing.postgresql" = "^1.3.0"
pytrackmate = {git = "https://github.com/hadim/pytrackmate.git"}

[tool.poetry.extras]
flow = [
    "torch",
]

[tool.poetry.scripts]
ultrack = "ultrack.cli.main:main"

[tool.poetry.plugins."napari.manifest"]
ultrack = "ultrack:napari.yaml"

[tool.pytest.ini_options]
filterwarnings = [
    "ignore::DeprecationWarning:pkg_resources.*:",
]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
