p {
    line-height: 1.5;  /* Adjust this value as needed */
    margin-top: 5px;    /* Space above each paragraph */
    margin-bottom: 0px; /* Space below each paragraph */
}

li {
    margin-top: 0px;    /* Adjust this value as needed */
    margin-bottom: 0px; /* Adjust this value as needed */
}

ul, ol {
    margin-top: 0px;  /* Margin around the list */
}

h1 {
    margin-top: 40px;
}

h2 {
    margin-top: 30px;
}

h3 {
    margin-top: 20px;
}
