# Reference: napari/napari github workflows
name: test PR

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review, edited]
    branches:
      - main
  pull_request_review:
    types: [submitted]

jobs:
  test:
    name: ${{ matrix.platform }} ${{ matrix.python }} ${{ matrix.toxenv || matrix.backend }}
    if: github.event.pull_request.draft == false
    runs-on: ${{ matrix.platform }}
    strategy:
      fail-fast: false
      matrix:
        platform: [ubuntu-latest]
        python: ["3.10", "3.12"]
        backend: [pyqt5]
        include:
          # - python: 3.11
          #   platform: windows-latest
          #   backend: pyqt5
          # - python: 3.11
          #   platform: macos-13  # latest not-arm version
          #   backend: pyside2
          - python: 3.11 # only this run execute coverage
            platform: ubuntu-latest
            backend: pyside6
            coverage: true

    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.12.1
        with:
          access_token: ${{ github.token }}

      - uses: actions/checkout@v4

      # see https://github.com/actions/runner-images/issues/709#issuecomment-612569242
      - name: Workaround to free up space on github runner
        if: runner.os == 'Linux'
        run: sudo rm -rf "$AGENT_TOOLSDIRECTORY"

      - uses: prefix-dev/setup-pixi@v0.9.4
        with:
          pixi-version: v0.62.2
          cache: true
      
      - name: Setup headless screenL
        uses: pyvista/setup-headless-display-action@7d84ae825e6d9297a8e99bdbbae20d1b919a0b19 # v4.2
        with:
          qt: true
          wm: herbstluftwm

      - name: Install dependencies with pixi
        run: pixi install -e test

      - name: Run pre-commit
        run: pixi run -e test pre-commit run --all-files

      - name: Testing
        run: pixi run -e test test --cov-report=xml
        env:
          PLATFORM: ${{ matrix.platform }}
          BACKEND: ${{ matrix.backend }}
          TOXENV: ${{ matrix.toxenv }}

      - name: Coverage
        if: ${{ matrix.coverage }}
        uses: codecov/codecov-action@v5
